**/.DS_Store
**/.flaskenv
**/*.pyc
**/*.pyo
**/*.egg
**/*.egg-info
**/_mailinglist
**/.cache
**/.pytest_cache
**/.idea
**/docs
**/__pycache__
**/.env_file
**/examples
**/env
**/*.yml
**/Dockerfile
**/*.md